<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.devilsen.test">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".doubanAnim.AnimActivity" />

        <activity android:name=".chart.ChartTestActivity" />

        <activity android:name=".VectorTestActivity" />

        <activity android:name=".HalfCircle.TestActivity" />

        <activity android:name=".viewpager.ViewPagerActivity" />

        <activity android:name=".scrollnumber.ScrollActivity" />

        <activity android:name=".alarm.AlarmActivity" />

        <activity android:name=".badgeicon.BadgeTestActivity" />

        <activity android:name=".image.HeartTestActivity" />

        <activity android:name=".notification.ProgressActivity" />

        <activity android:name=".viewtest.ViewTestActivity" />

        <activity android:name=".handlertest.HandlerTestActivity" />

        <activity android:name=".tranparent.TransparentActivity" />

        <activity android:name=".bottomsheet.BottomSheetActivity" />

        <activity
            android:name=".midautumn.MidAutumnMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".personedit.TestActivity" />

        <activity
            android:name=".midautumn.PropagandaActivity"
            android:theme="@style/TranslateActivity" />

        <activity android:name=".applist.RecyclerTestActivity" />

        <activity android:name=".midautumn.WelfareResultActivity" />

        <activity android:name=".KeyboardTestActivity" />

        <activity android:name=".watermark.WaterMarkActivity" />

        <activity android:name=".lifecycler.TestActivity">

        </activity>

        <activity
            android:name=".lifecycler.TranslateActivity"
            android:theme="@style/TranslateActivity" />

        <activity
            android:name=".imkeyboard.ImKeyboardActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">

        </activity>

        <activity android:name=".parcelable.ParcelableActivity" />
        <activity android:name=".managertest.WindowManagerTestActivity" />
        <activity android:name=".recyclerview.ItemAnimationTestActivity" />
        <activity android:name=".aidl.client.ClientActivity" />

        <receiver android:name=".alarm.AlarmActivity$AlarmReceiver" />

        <provider
            android:name="com.test.devilsen.test.multiprocess.sp.SPContentProvider"
            android:authorities="com.wuba.crm"
            android:exported="false" />

        <service
            android:name="com.test.devilsen.test.aidl.server.EasyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">

            <intent-filter>
                <action android:name="com.devilsen.test.IEasyService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
