<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.devilsen.test">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.wuba.view.doubanAnim.AnimActivity" />

        <activity android:name=".chart.ChartTestActivity" />

        <activity android:name=".VectorTestActivity" />

        <activity android:name="com.wuba.view.HalfCircle.TestActivity" />

        <activity android:name="com.wuba.view.viewpager.ViewPagerActivity" />

        <activity android:name="com.wuba.view.scrollnumber.ScrollActivity" />

        <activity android:name=".alarm.AlarmActivity" />

        <activity android:name="com.wuba.view.badgeicon.BadgeTestActivity" />

        <activity android:name="com.wuba.view.image.HeartTestActivity" />

        <activity android:name=".notification.ProgressActivity" />

        <activity android:name="com.wuba.view.viewtest.ViewTestActivity" />

        <activity android:name=".handlertest.HandlerTestActivity" />

        <activity android:name="com.wuba.view.bottomsheet.BottomSheetActivity" />

        <activity
            android:name="com.wuba.view.midautumn.MidAutumnMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.wuba.view.personedit.TestActivity" />

        <activity
            android:name="com.wuba.view.midautumn.PropagandaActivity"
            android:theme="@style/TranslateActivity" />

        <activity android:name="com.wuba.view.applist.RecyclerTestActivity" />

        <activity android:name="com.wuba.view.midautumn.WelfareResultActivity" />

        <activity android:name=".KeyboardTestActivity" />

        <activity android:name="com.wuba.view.watermark.WaterMarkActivity" />

        <activity android:name=".lifecycler.LifecycleMainTestActivity">

        </activity>

        <activity
            android:name=".lifecycler.TranslateActivity"
            android:theme="@style/TranslateActivity" />

        <activity
            android:name="com.wuba.view.imkeyboard.ImKeyboardActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">

        </activity>

        <activity android:name=".parcelable.ParcelableActivity" />
        <activity android:name=".managertest.WindowManagerTestActivity" />
        <activity android:name="com.wuba.view.recyclerview.ItemAnimationTestActivity" />
        <activity android:name=".aidl.client.ClientActivity" />
        <activity
            android:name=".screen.activity.FullScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".hook.HookTestActivity" />
        <activity android:name=".socket.SocketTestActivity" />
        <activity android:name=".socket.WebSocketTestActivity" />
        <activity android:name=".storage.StorageTestActivity" />
        <activity
            android:name=".shortcut.ShortCutTestActivity"
            android:process=":tools" />
        <activity android:name=".lifecycler.fragment.LifecycleTestActivity" />
        <activity android:name=".LogTestActivity" />
        <activity android:name=".bitmap.P3ColorTestActivity" />

        <receiver android:name=".alarm.AlarmActivity$AlarmReceiver" />

        <provider
            android:name="com.test.devilsen.test.multiprocess.sp.SPContentProvider"
            android:authorities="com.wuba.crm"
            android:exported="false" />

        <service
            android:name="com.test.devilsen.test.aidl.server.EasyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">

            <intent-filter>
                <action android:name="com.devilsen.test.IEasyService" />
            </intent-filter>
        </service>

    </application>

</manifest>
